/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}


header nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
header nav ul li {
  text-align: center;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  text-align: left;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-size: 30px;
}

form div {
  display: flex;
flex-direction: column;
width: 20%;
}
form {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
form button {
  width: 150px;
}
main section div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
main section div p {
  width: 40%;
  overflow-wrap: wrap;
}

main section div img {
  width: 25%;
  height: 25%;
}
main section#host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}

main section#host div {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  margin-right: 12px;
  justify-content: center;
}

main section#host p {
  vertical-align: middle;
  text-align:justify;
  width:100%
}

main section#host img {
  width: 50%;
  height: 50%;
}
}